{% extends 'usermain.html' %}
{% block title %} Changepassword {% endblock %}

{% block content %}

  <div class="container mt-5">
    <div class="row mt-3">
        <div class="col-sm-4 offset-sm-4 mt-2" style="border:1px solid grey; padding:10px;">
          <h2 class="text-center mb-1">Change Password</h2>
          <h5 class="text-center mb-1 mt-2 mb-4">{{ email }}</h5>  
          <form action="changepaasword" method="post">
            {% csrf_token %}
             <div class="mt-2">
                <label for="old">Enter Old Password</label>
                <input type="password" name="oldpassword" id="old" required class="form-control">
            </div>
             <div class="mt-2">
                <label for="new">Enter New Password</label>
                <input type="password" name="newpassword" id="new" required class="form-control">
            </div>
             <div class="mt-2">
                <label for="conf">Enter Confirm Password</label>
                <input type="password" id="conf" name="confirmpassword" required class="form-control">
            </div>
            <div class="mt-2 text-center">
                <input type="submit" value="Change Now" class="btn btn-primary"/>
            </div>
          </form>
          <div class="text-center text-primary mt-4">
                <h5>
                    {% for message in messages %}
                           {{ message }}
                    {% endfor %}

                </h5>
            </div>
        </div>
    </div>
  </div>


{% endblock %}